/* ---------------------------------
------------- GLOBAL --------------- */

#homepage {
  background: url(../images/background.jpg) no-repeat center top; 
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  -o-background-size: cover 100% ;
  background-size: cover 100%;
}

#newslist, #newspost, #discography, #albumpost, #aboutpage {
  background: url(../images/background-pages.jpg) no-repeat center top; 
  -webkit-background-size: cover 100%;
  -moz-background-size: cover 100%;
  -o-background-size: cover 100%;
  background-size: cover 100%;
}

body {font-family: 'Caudex', serif;}

h1, h2, h3, h4, h5, h6 {color: #aa1212; line-height: 1.2em; font-family: 'Special Elite', cursive; margin: 0;}

p {color: #000; font-size: 1.143em; line-height: 1.571em; margin: 0;}

time {color: #000; font-family: 'Special Elite', cursive; font-size: 1.071em;}

a {color: #fff; text-decoration: none;}

ol {color: #000; padding-left: 12px; margin: 0;}

ol>li {font-size: 1.071em; line-height: 1.7em;}

/* HELPER CLASSES */

.full-width {width:100%;}

.no-padding {padding-left: 0; padding-right: 0;}

.no-padding-left {padding-left: 0; padding-right: 20px;}

.no-padding-right {padding-left: 20px; padding-right: 0;}

.with-padding {padding-left: 10px; padding-right: 10px;}

.with-med-padding-left {padding-left: 15px; padding-right: 0;}

.with-med-padding-right {padding-right: 15px; padding-left: 0;}

.with-more-padding {padding-left: 30px; padding-right: 30px;}

.with-more-padding-right {padding-left: 0; padding-right: 30px;}

.with-more-padding-left {padding-left: 30px; padding-right: 0;}

.row {margin-left: 0; margin-right: 0;}

/* TITLES */

.section-title {margin-top: 70px; margin-bottom: 70px;}

.feat-img {margin-bottom: 30px; margin-top: 18%;}

/* GLOBAL BUTTONS & ICONS */

.navbar-default .navbar-toggle {
  width: 50px;
  height: 50px;
  background: url(../images/rockmeapp-menu.svg) center center no-repeat;
  background-size: auto;
}

.btn-more, .btn-more-small {
  border: 0;
  border-radius: 0;
  line-height: 2.2em;
  background: #386017;
  color: #fff;
  font-size: 1.143em; 
  margin-top: 10px;
}

.btn-more-small {
  font-weight: normal;
  padding: 10px 40px;
}

.social-icons {background: #600b0b;}

.social-icons i.fa {color: #fff; padding: 10px;}

#album-icons i {color: #600b0b; padding-right: 30px;}

/* GLOBAL PAGINATION */

.number-pagination {margin-top: 30px; margin-bottom: 30px;}

.pagination>a, .pagination>span {
  background-color: #141618;
  color: #fff;
  border: 0;  
  margin-left: 1px;
  padding: 10px 16px;
  font-size: 1.143em;
  line-height: 1.3333333;
}

.pagination>.current {
  background-color: #aa1212;
  color: #fff;
}

#news-pager>li>a, #news-pager>li>span {
  border-radius: 0;
  background-color: #000;
  font-size: 1.143em;
  color: #fff;
  width: 170px;
}

/* GLOBAL EFFECTS */

.btn-more:hover, .btn-more:focus {background-color: #000; color: #fff;}

.btn-more-small:hover, .btn-more-small:focus {background-color: #aa1212; color: #fff;}

.social-icons .fa:hover, .social-icons .fa:focus {color: #aa1212 !important;}

#album-icons a i:hover, #album-icons a i:focus {color: #386017 !important;}

#footer-top a:hover, #footer-top a:focus {color: #7bb24d;}

.footer-link:hover, .footer-link:hover:focus {color: #386017; text-decoration: none;}

.pagination>a:focus, .pagination>a:hover,
.pagination>span:focus, .pagination>span:hover {background-color: #386017; text-decoration: none;}

.pagination>.current:focus, .pagination>.current:hover {background-color: #aa1212;}

/* GLOBAL MEDIA QUERIES */

@media screen and (max-width: 767px) {

  .no-padding-left, .no-padding-right, .with-padding {padding: 0;}

  .section-title {margin-top: 30px; margin-bottom: 30px;}

  #homepage, #newslist, #newspost, #discography, #albumpost {background: #fff;}
}

/* PAGINATION M.QUERIES */

@media only screen and (max-width: 768px) {
  #news-pager>li>a, 
  #news-pager>li>span {
    font-size: 0.7em;
    width: 100px;
  }
}

@media only screen and (max-width: 348px) {
  #news-pager>li>a, 
  #news-pager>li>span {
    font-size: 0.5em;
    width: 90px;
  }
}

/* ---------------------------------
----------- GLOBAL END ------------- */

/* ---------------------------------
----------- NAVIGATION ------------- */

.navbar {
  background-color: transparent;
  border-radius: none;  
  border-bottom: 0;
  margin-bottom: 0;
}

#navbar-primary .navbar-nav {
  width: 100%;
  text-align: center;
}

#navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}

.nav>li>a {
  color: #aa1212 !important;
  font: 1.571em 'Special Elite', cursive;
  line-height: 2.8em;
}

.logo {width: 42%;}

.mobile-home {
    display: inline-block;
    padding-left: 5px;
    padding-top: 20px; 
  }

/* NAVIGATION EFFECTS */

nav.bg-change {
  background-color: rgba(255,255,255,0.9);
  padding-bottom: 0;
}

.navbar-nav>.active>a {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
  color: #386017 !important;
  background: none !important;
  text-decoration: none;
}

/* NAVIGATION M.QUERIES */

@media only screen and (max-width: 1199px) {
  .logo {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .logo {
    width: 35%;
  }

  #navbar-primary .navbar-nav > li > a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.3em;
  } 
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%;
  }
}

@media only screen and (max-width: 767px) { 
  .nav li {
    width: 100%;
  }

  .nav li a {
    padding: 0;
  }

  .logo {
    display: none !important;
  }

  #navbar-primary-collapse {
    background: #fff;
  }   
}

@media only screen and (min-width: 768px) {
  .mobile-home {
    display: none !important;
  }
}

/* ---------------------------------
--------- NAVIGATION END ----------- */

/* ---------------------------------
---------- NEWS&UPDATES ------------ */

#news-title {
  margin-top: 43%;
  margin-bottom: 60px; 
}

#news-row-cont img {
  border: 1px solid #fff;
}

#news-row-1 {
  margin-bottom: 30px;
}

.text-section {
  background-color: #fff;
  height: auto;
  padding: 15px;
}

.text-section p {
  padding-top: 20px;
  padding-bottom: 50px;
}

#news-row-cont a {
  text-decoration: none;
}

#news-post-col {
  background: #fff; 
  padding: 30px;
}

#news-post-col h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

#news-post-col p {
  margin-top: 30px;
}

/* NEWS&UPDATES EFFECTS */

#homepage #news-row-cont img:hover,
#homepage #news-row-cont img:focus,
#newslist #news-row-cont img:hover,
#newslist #news-row-cont img:focus {
  border: 1px solid #7bb24d;
}

#news-row-cont h3:hover,
#news-row-cont h3:focus {
  color: #7bb24d;
}

/* ---------------------------------
-------- NEWS&UPDATES END ---------- */

/* ---------------------------------
------------ NEW ALBUM ------------- */

#album-bg {
  background: #fff;
  padding-top: 65px;
  padding-bottom: 65px;
}

#album-info {
  padding-left: 100px;
  max-height: 470px;
}

.p1 {
  margin-top: 60px;
}

.p2 {
  margin-top: 30px;
}

.p3 {
  margin-top: 90px;
  margin-bottom: 50px;
}

#album-info ul {
  margin: 0 0 0 -15px;  
}

#album-image img {
  border: 1px solid #aa1212;
}



/* NEW ALBUM MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
  .p3 {
    margin-top: 30px;
    margin-bottom: 15px;
  } 
}

@media only screen and (max-width: 991px) {
  #album-info {
    text-align: center;
    padding-left: 0;
  }

  #album-info ul {
    margin: 0 0 30px -15px;  
  }
}

/* ---------------------------------
----------- NEW ALBUM END ---------- */

/* ---------------------------------
-------------- TOURS --------------- */

#tours {
  margin-left: 0;
  margin-right: 0;
}

#tours-title {
  margin-top: 70px;
  margin-bottom: 70px;
}

.table tr {
  height: 80px;
}

.table>tbody>.tabletop>td {
  border-top: none;
}

.table>tbody>tr>td {
  vertical-align: middle;
  color: #000;
}

.table-hover>tbody>tr>td {
  border-bottom: 1px solid #aa1212;
}

.place {
  font-size: 1.714em;
}

.number {
  font-size: 2.0em;
  width: 40px;
}

.table-hover .monthday {
  padding-left: 0px;
}

.month {
  font-size: 0.8em;
  float: left;
  clear: left;
  display: inline;
}

.day {
  font-size: 0.8em;
  float: left;
  clear: left;
  display: inline;
}

.table-hover .text-right {
  padding-right: 5px;
}

.btn-ticket {
  background-color: #aa1212;
  color: #fff;
  border-radius: 0;
  vertical-align: center;
  padding: 17px 50px 13px 50px;
}

/* TOURS EFFECTS */

td.text-right>a {
  color: #000;
  text-decoration: none;
}

.table-hover>tbody>tr:hover,
.table-hover>tbody>tr:focus {
  background-color: #f0f0f0;
  opacity: 0.9;
  z-index: -1;
}

.btn-ticket:hover,
.btn-ticket:focus,
.btn-ticket:active,
.btn-ticket:visited {
  background-color: #000 !important;
  color: #fff;
  z-index: 1;
}

/* TOURS MEDIA QUERIES */

@media only screen and (max-width: 991px) {
  .table-hover>tbody>tr>td {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  .table-hover>tbody>tr>td {
    font-size: 1.0em;
  }

  .btn-ticket {
    padding: 17px 30px 13px 30px;
  }
}

@media only screen and (max-width: 439px) {
  .table-hover>tbody>tr>td {
    font-size: 0.8em;
  }

  .btn-ticket {
    padding: 10px 15px 10px 15px;
  }

  .number {
    width: 10px;
  }
}

/* ---------------------------------
------------ TOURS END ------------- */

/* ---------------------------------
----------- MEDIA&VIDEO ------------ */

#media-title {
  margin-top: 70px;
  margin-bottom: 70px;
}

.video-link {
  margin-bottom: 20px;
}


/* ---------------------------------
---------- MEDIA&VIDEO END --------- */

/* ---------------------------------
-------------- FOOTER -------------- */

#footer-top {
  margin-top: 170px;
}

#newspost #footer-top {
  margin-top: 30%;
}

#footer-top h4 {
  font-family: 'Volkorn', serif;
  font-size: 1.143em;
  font-weight: bold;
  margin-bottom: 20px;
}

#footer-top ul {
  list-style-type: none;
  padding-bottom: 60px;
  padding-left: 0;
}

#footer-top ul li {
  font-size: 1.143em;
  line-height: 2.0em;
}

#footer-top a {
  color: #000;
  text-decoration: none;
}

#footer-bottom {
  background: url(../images/footer-bg.jpg) no-repeat center bottom; 
  min-height: 870px;
}

footer {
  background: #000;
  text-align: center;
  min-height: 50px;
  padding-top: 10px;
}

footer p {
  color: #fff;
  line-height: 3;
  display: inline-block;
  padding-bottom: 0;
  margin-right: 10px;
  margin-bottom: 0;
}

.footer-link:hover, .footer-link:hover:focus {
  color: #386017;
  text-decoration: none;
}

#rockmelogo {
  display: inline-block;
}

/* FOOTER MEDIA QUERIES */

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #footer-top {
    margin-bottom: -200px; 
  }
}

@media only screen and (max-width: 767px) {
  #newspost #footer-top {
    margin-top: 10%;
  }

  #footer-bottom {
    display: none; 
  }

  #footer-top {
    text-align: center;
    margin-top: 60px;
  }

  #footer-top ul {
    padding-bottom: 20px; 
  }
}

/* ---------------------------------
------------ FOOTER END ------------ */

/* ---------------------------------
--------- NEW ALBUM PROMO ---------- */

#album-promo-bg {
  background: url("../images/new-album-bg.jpg") center center no-repeat;
  background-size: auto; 
}

.album-promo-content {
  padding-top: 200px;
  padding-bottom: 140px;
}

#album-promo-bg h1 {  
  font-family: 'Caudex', serif;
  font-size: 3.429em;
  font-weight: bold;
  margin-bottom: 20px;
}

#album-promo-bg p { 
  margin-bottom: 50px;
}

/* PROMO M.QUERIES */

@media screen and (max-width: 1199px) {
  #album-promo-bg h1 { 
    font-size: 3.0em;  
  }
}

@media screen and (max-width: 992px) {
  #album-promo-bg h1 { 
    font-size: 2.5em;  
  }
}

@media screen and (max-width: 768px) {
  #album-promo-bg h1 { 
    font-size: 1.8em;  
  }
}

/* ---------------------------------
------- NEW ALBUM PROMO END -------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- DISCOGRAPHY PAGE -------------------------------------------------------------- */

/* NAVTABS */

#discography-nav {
  background: #fff;
}

#discography-nav .list-inline{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

#discography-nav .list-inline li {
  font-size: 1.143em;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
}

#discography-nav .list-inline li a {
  color: #aa1212;
  text-decoration: none;
}

/* NAVTABS EFFECTS */

#discography-nav .list-inline li a:hover,
#discography-nav .list-inline li a:focus {
  color: #386017;
}

/* NAVTABS M.QUERIES */

@media only screen and (max-width: 1199px) {
  #discography-nav .list-inline li {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 992px) {
  #discography-nav .list-inline li {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 578px) {
  #discography-nav .list-inline li {
    padding-left: 5px;
    padding-right: 5px;
  }

  #discography-nav .list-inline li a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 478px) {
  #discography-nav .list-inline li {
    padding-left: 4px;
    padding-right: 4px;
  }

  #discography-nav .list-inline li a {
    font-size: 0.7em;
  }
}

/* NAVTABS END */

/* ALBUM LIST */

#album-list {
  background: #fff;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 15px;
}

#album-list h4 {
  font-size: 1.17em;
  text-transform: uppercase;
  margin-top: 20px;
}

#album-list a {
  color: #000;
  text-decoration: none;
}

/* ALBUM LIST END*/

/* ----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- ALBUM POST -------------------------------------------------------------------- */

#album-post-left, #album-post-right {
  line-height: 1.7em;
  margin-top: 30px;
}

#album-post-left img {
  margin-bottom: 30px;
}

#album-post-right h3 {
  font-size: 1.286em;
  padding-bottom: 10px;
}

#album-post-right .album-date {
  padding-bottom: 20px;
}

.album-post-list {
  list-style: none;
  padding-left: 0;
}

#album-post-right li {
  font-size: 1.143em;
}

#album-post-right ol li {
  margin-left: 8px;
}

.alter-title {
  font: 500 1.143em 'Caudex', serif;
  color: #000;
  margin-top: 30px;
}

.album-post-list {
  list-style: none;
  padding-left: 0;
}

#album-post-right ul:last-of-type {
  margin-top: 30px;
}

.online {
  font: 1.286em 'Caudex', serif;
  color: #000;
  display: inline-block;
}

.play-links {
  font: 1.286em 'Caudex', serif;
  color: #000;
  display: inline-block;
  margin-top: 20px;
}

.play-links a {
  color: #000;
  text-decoration: none;
}

/* ALBUM POST PAGINATION */

#albumpost .text-pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* ALBUM POST MEDIA TITLE */

#albumpost #media-title {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------- BAND ----------------------------------------------------------------------- */

#about-band {
  background: #fff;
  margin-top: 60px;
}

#aboutpage #band-title {
  margin-top: 140px;
  margin-bottom: 60px;
}

#band-members {
  background: #fff;
  padding: 40px 100px;
  margin-bottom: 75px;
}

#band-members ul {
  margin: 0;
}

#band-members h6 {
  font-size: 1.071em;
  margin-top: 20px;
}

/* BAND MEDIA TITLE */

#aboutpage #band-title {
  margin-top: 60px;
  margin-bottom: 60px;
}
